div.btnFixed{
    position: fixed;
    width: 300px;
    z-index: 1;
}

div.node{
    width: 100px;
    border: solid red 1px;
    margin: 20px;
    z-index: 10;
}

canvas{
    border: dashed blue 1px;
}

/* for testing */
/*#svgImgArea{
    border: solid red 1px;
}*/

ellipse{
    fill:yellow;
    stroke:purple;
    stroke-width: 2;
}

circle{
    fill:rgb(196, 70, 196);
    stroke:rgb(170, 145, 32);
    stroke-width: 2;
}


path.toNode{
    stroke:rgb(170, 145, 32);
    stroke-width: 2;
}

path.toPackedNode{
    stroke:rgb(19, 172, 40);
    stroke-width: 2;
}

path.fromPackedNode{
    stroke:rgb(170, 32, 124);
    stroke-width: 2;
}

.treeAreaRowRect{
    fill:rgb(53, 54, 58);
    stroke-width:3;
    stroke:rgb(77, 72, 128);
    opacity: 0.3;
}

.treeAreaRect{
    fill:rgb(53, 54, 58);
    stroke-width:1;
    stroke:rgb(170, 32, 85);
    opacity: 0.2;
}